{% extends "templates/web.html" %}

{% block title %} Select Payment Method {% endblock %}

{%- block header -%}{% endblock %}

{% block script %}
<script>
	{% include "templates/includes/integrations/gateway_selector/form.js" %}
	var proxy_gateway = new frappe.integration_service.gateway_selector_gateway();
	console.log(proxy_gateway);
	proxy_gateway.form('{{proxy.name}}');
</script>

{% for gateway in gateways %}
  {% if gateway.embed_form %}
    <script src="{{gateway.embed_form.script_url}}" type="text/javascript"></script>
  {% endif %}
{% endfor %}

{% endblock %}

{%- block page_content -%}
<div class="container-fluid gateway-selector-form" id="gateway-selector-page-form">
	<div class="row nopadding">
		<div class="col-md-6 col-md-push-6 nopadding">
			<h2>Payment Details</h2>
			<div class="row">
				<div class="col-xs-12">{{ title }}</div>
			</div>
			<div class="row">
				<div class="col-xs-12">{{ description }}</div>
			</div>
			<div class="row">
				<div class="col-xs-8">Reference</div>
				<div class="col-xs-4">{{ order_id }}</div>
			</div>
			<div class="row">
				<div class="col-xs-8">Total Amount</div>
				<div class="col-xs-4">{{ amount }}</div>
			</div>
			<div class="row">
				<div class="col-xs-12" id="gateway-error">
				</div>
			</div>
		</div>
		<div class="col-md-6 col-md-pull-6 col-sm-6 nopadding">
	    {% include "templates/includes/integrations/gateway_selector/select.html" with context %}
    </div>
  </div>
</div>
{% endblock %}

{% block style %}
<style>
	header, footer {
		display: none;
	}
	{% include "templates/includes/integrations/gateway_selector/select.css" %}
</style>
{% for gateway in gateways %}
  {% if gateway.embed_form %}
    <link href="{{gateway.embed_form.style_url}}" type="text/css" rel="stylesheet"/>
  {% endif %}
{% endfor %}
{% endblock %}
