<div id="gateway-selector-options">
  <h2>Select Payment Method</h2>

  <div class="row">
    {% for gateway in gateways %}

    <div class="field custom col-sm-6">
      <label class="radioctrl">
        <img src="{{gateway.data.icon}}"/>
        <input type="radio" name="gateway_selector_option" value="{{ gateway.name }}" {% if gateway.data.is_default %}checked="checked"{% endif %}/>
        <span class="label">{{ gateway.data.label }}</span>
      </label>
    </div>

    {% endfor %}
  </div>

  <div id="gateway-selector-forms" class="row"></div>

{% if not is_backend %}
  <h2>Billing Address</h2>
  <div class="row">
    <div id="select-bill-addr">
      {% include "templates/includes/integrations/gateway_selector/billing_address_select.html" with context %}
    </div>
    <div id="form-bill-addr" style="display: none;">
      {% include "templates/includes/integrations/gateway_selector/billing_address.html" with context %}
    </div>
  </div>
{% endif %}

</div>
